.footer{
	text-align: left;
	max-width: 75%;
	margin : 9rem 23rem;
	overflow: auto;
}

.footer, .footer a{
	color: #999;
	font-size: 1.8rem;
}

.footer p{
	margin-bottom: 1.5rem;
	font-size: 2.4rem;
}

.footer .footer-cols{
	display:grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 2rem;
	line-height: 2.9; 
}

.selectpicker{
	width: 67%;
	height: 39px;
	background-color: black;
	border-style: solid;
	border-color: #999;

}